@model projetotg.Models.AppUser

@{
    ViewData["Title"] = "Login";
}
<!

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
    
    <title>Document</title>
</head>
<body class="login">
    <h1 class="titulos"><center>Login</center></h1>
    <hr />
    <div class="row">
        <div class="col-md-4"> </div>
        <div class="col-md-4">
            <form asp-controller="Account" asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"> Usuário </label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="PasswordHash" class="control-label"> Senha </label>
                <input asp-for="PasswordHash" class="form-control" />
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>

            <div class="form-group">
            <input type="submit" value="Login" class="btn btn-success" />
            </div>

            <h1>@ViewBag.register</h1> 

            </form><div>
    
        <div class="col-md-4"> </div>
        <a asp-controller="Account" asp-action="Register">Não tenho usuário</a><!--<a asp-action="Index">Voltar</a>-->
    </div>
    </div>
    </div>
    </body>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }  

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/js/tether.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" </script>
</html>
